@import 'colors';
.category-show {
  .posts-section-left {
    min-width: 84%;
    width: 84%;

    .posts-topic {
      min-width: 71%;
      width: 71%;
    }

    .posts-last-reply {
      min-width: 29%;
      width: 29%;
    }
  }

  .posts-section-right {
    min-width: 16%;
    width: 16%;

    .posts-replies {
      min-width: 50%;
      width: 50%;
    }

    .posts-views {
      min-width: 50%;
      width: 50%;
    }
  }

  .posts-topic {
    min-width: 60%;
    width: 60%;
  }

  .posts-last-reply {
    min-width: 24%;
    width: 24%;
  }

  .posts-replies {
    min-width: 8%;
    width: 8%;
  }

  .posts-views {
    min-width: 8%;
    width: 8%;
  }
}
