$white: #fff;
$gray-bold: #394047;
$color-3: #5c6166;
$color-4: #8e9091;
$color-5: #4f80b0;
$color-6: #666a6f;
$color-7: #f9bc64;
$color-8: #3b5998;
$color-9: #55acee;
$color-10: #dd4b39;
$color-11: #5b6065;
$color-12: #71757a;
$color-13: #93969a;

$background-color-2: #3cb878;
$background-color-3: #e9ecee;
$background-color-4: #5b6065;
$background-color-5: #f9bc64;
$background-color-7: #f2f4f6;
$background-color-8: #394047;
$background-color-9: #4c5359;
$background-color-10: #f8f9fa;
$background-color-11: #fff8f8;
$background-color-12: #ebeef0;
$background-color-13: #f04c6b;
$background-color-14: #348aa7;
$background-color-15: #4436f8;
$background-color-16: #5dd39e;
$background-color-17: #ff755a;
$background-color-18: #bce784;
$background-color-19: #83253f;
$background-color-20: #c49bbb;
$background-color-21: #3ebafa;
$background-color-22: #c6b38e;
$background-color-23: #a7cdbd;
$background-color-24: #525252;
$background-color-25: #777da7;
$background-color-26: #368f8b;
$background-color-27: #fef2e0;
$background-color-28: #4f80b0;
$background-color-29: #424ee8;
$background-color-30: #36b7d7;
$background-color-31: #ec008c;
$background-color-32: #7cc576;
$background-color-33: #3a3a17;
$background-color-34: #6f7e9c;
$background-color-35: #f26522;
$background-color-36: #a3d39c;
$background-color-37: #92278f;
$background-color-38: #8781bd;
$background-color-39: #f1ab32;
$background-color-40: #3b96ca;
$background-color-41: #00bd9d;
$background-color-42: #218380;
