@import 'colors';

.topic-head {
  border-bottom: 1px solid #ddd;
}

.topic-index {
  .posts-section-left {
    min-width: 84%;
    width: 84%;

    .posts-topic {
      min-width: 83%;
      width: 83%;
    }

    .posts-category {
      min-width: 17%;
      width: 17%;
    }
  }

  .posts-section-right {
    min-width: 16%;
    width: 16%;

    .posts-replies {
      min-width: 50%;
      width: 50%;
    }

    .posts-views {
      min-width: 50%;
      width: 50%;
    }
  }

  .posts-topic {
    min-width: 70%;
    width: 70%;
  }

  .posts-category {
    min-width: 14%;
    width: 14%;
  }

  .posts-replies {
    min-width: 8%;
    width: 8%;
  }

  .posts-views {
    min-width: 8%;
    width: 8%;
  }
}

.create-body {
  display: block;
}

.history-head {
  font-size: 12px;
  color: #0e506b;
}

.history-item {
  padding: 6px 0;
  border-bottom: 1px solid #cccccc9c
}

.history-content {
  font-size: 15px;
}
