<!DOCTYPE html>
<html>
  <head>
    <title>hj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "login_page", media: "all" %>
    <%= javascript_include_tag "login_page" %>
  </head>

  <body>
    <div class="flash-errors">

    </div>
    <%= yield %>
  </body>
</html>
